@page "/subscription"


    @if(isCheckoutView != false)
    {      
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Pricing</MudText>
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Basic</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">R850</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/per Nurse</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.SupportAgent" IconColor="Color.Success">
                            5 Days a Week Support
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Storage" IconColor="Color.Error">
                            Blob Storage for Ad Hoc Documents
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Restore" IconColor="Color.Success">
                            Records stored for up to 6 months
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Outlined"  @onclick="@(() => ChangeView(1))" Color="Color.Info" Size="Size.Large" Style="width:50%;">Pick</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Comprehensive</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">R1000</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/per Nurse</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.SupportAgent" IconColor="Color.Success">
                            6 Days a Week Support
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Storage" IconColor="Color.Success">
                            Blob Storage for Ad Hoc Documents
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Restore" IconColor="Color.Success">
                            Records stored for up to 12 months
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Outlined" @onclick="@(() => ChangeView(2))" Color="Color.Info" Size="Size.Large" Style="width:50%;">Pick</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
           <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Professional</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">R1250</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/per Nurse</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.SupportAgent" IconColor="Color.Success">
                            All Week Support
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Storage" IconColor="Color.Success">
                            Blob Storage for Ad Hoc Documents
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Restore" IconColor="Color.Success">
                            Records stored Indefinitely 
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Outlined" @onclick="@(() => ChangeView(3))" Color="Color.Info" Size="Size.Large" Style="width:50%;">Pick</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        </MudGrid>
    }
    else
    {
     @if(nextBtnIsPressed == false)
     {
    <MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true">Provide Nurse Details</MudText>       
    <MudGrid Class="mt-16">
            <MudItem md="6" sm="6">
                <MudCard>
                    <MudSelect T="int" Label="Amount of Nurses" @bind-Value="NurseAmount" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem T="int" Value="1"/>
                        <MudSelectItem T="int" Value="2"/>
                        <MudSelectItem T="int" Value="3"/>
                        <MudSelectItem T="int" Value="4"/>
                        <MudSelectItem T="int" Value="5"/>
                        <MudSelectItem T="int" Value="6"/>
                        <MudSelectItem T="int" Value="7"/>
                        <MudSelectItem T="int" Value="8"/>
                        <MudSelectItem T="int" Value="9"/>
                        <MudSelectItem T="int" Value="10"/>
                        <MudSelectItem T="int" Value="11"/>
                        <MudSelectItem T="int" Value="12"/>
                        <MudSelectItem T="int" Value="13"/>
                        <MudSelectItem T="int" Value="14"/>
                        <MudSelectItem T="int" Value="15"/>
                        <MudSelectItem T="int" Value="16"/>
                        <MudSelectItem T="int" Value="17"/>
                        <MudSelectItem T="int" Value="18"/>
                        <MudSelectItem T="int" Value="19"/>
                        <MudSelectItem T="int" Value="20"/>
                        <MudSelectItem T="int" Value="21"/>
                        <MudSelectItem T="int" Value="22"/>
                        <MudSelectItem T="int" Value="23"/>
                        <MudSelectItem T="int" Value="24"/>
                        <MudSelectItem T="int" Value="25"/>
                    </MudSelect>
                </MudCard>
            </MudItem>
              <MudItem md="6" sm="6">
                <MudCard>
                    <MudSelect T="string" Placeholder="Storage Plan" @bind-Value="StorageType" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Value="@("100GB Storage - 6 Months")" />
                        <MudSelectItem Value="@("200GB Storage - 1 Year")" />
                        <MudSelectItem Value="@("200GB Storage - 3 Years")" />
                        <MudSelectItem Value="@("500GB Storage - 1 Year")" />
                        <MudSelectItem Value="@("500GB Storage - 3 Years")" />
                        <MudSelectItem Value="@("2TB Storage - 1 Year")" />
                        <MudSelectItem Value="@("2TB Storage - 3 Years")" />
                        <MudSelectItem Value="@("5TB Storage - 5 Years")" />
                    </MudSelect>
                </MudCard>
            </MudItem> 
                @if(StorageType != null)
                {
                    <MudItem md="12" sm="12">
                        <center>
                        <MudButton Class="mb-5" Variant="Variant.Outlined" OnClick="ChangeView2" Color="Color.Info" Size="Size.Large">Next</MudButton>
                        </center>
                     </MudItem>
                }
            </MudGrid>
            }
        }

    @if(isNurseDetailsProvided != false)
        {   
    <MudGrid Class="mt-16">        
        <MudItem xs="7">
            <MudText Typo="Typo.h5" GutterBottom="true">Billing address</MudText>
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Email" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Mobile number" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Clinic Name" />
                </MudItem>
                <MudItem xs="6">
                    <MudTextField T="string" Label="Representative First Name" />
                </MudItem>
                <MudItem xs="6">
                    <MudTextField T="string" Label="Representative Last Name" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Clinic Address" />
                </MudItem>
                <MudItem xs="6">
                    <MudTextField T="string" Label="Postal code" />
                </MudItem>
                <MudItem xs="6">
                    <MudTextField T="string" Label="City" />
                </MudItem>
                <MudItem xs="12">
                <MudSelect T="string" Label="Province"
                    Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem T="string" Value="@("Gauteng")" />
                        <MudSelectItem T="string" Value="@("Limpopo")" />
                        <MudSelectItem T="string" Value="@("Mpumalanga")" />
                        <MudSelectItem T="string" Value="@("Free State")" />
                        <MudSelectItem T="string" Value="@("North West")" />
                        <MudSelectItem T="string" Value="@("KZN")" />
                        <MudSelectItem T="string" Value="@("Eastern Cape")" />
                        <MudSelectItem T="string" Value="@("Western Cape")" />
                        <MudSelectItem T="string" Value="@("Northern Cape")" />
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudButton Variant="Variant.Outlined" DisableElevation="true" Color="Color.Info" Size="Size.Large" Class="mt-8">Submit your Request</MudButton>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="5">
            <MudText Typo="Typo.h5" GutterBottom="true">Cart</MudText>
            <MudPaper Class="d-flex flex-column" Style="height:100%;" Outlined="true">
                <MudList>
                    <MudListItem Icon="@Icons.Material.Filled.SupportAgent">
                        <div class="d-flex">
                            <MudText>5 Days Support</MudText>
                            <MudText Inline="true" Class="ml-auto">R100</MudText>
                        </div>
                    </MudListItem>
                    <MudListItem Icon="@Icons.Material.Filled.Storage">
                        <div class="d-flex">
                            <MudText>Blob Storage</MudText>
                            <MudText Class="ml-auto">R200</MudText>
                        </div>
                    </MudListItem>
                    <MudListItem Icon="@Icons.Material.Filled.Restore">
                        <div class="d-flex">
                            <MudText>@StorageType</MudText>
                            <MudText Class="ml-auto">R @StorageTotal</MudText>
                        </div>
                    </MudListItem>
                    <MudListItem Icon="@Icons.Material.Filled.Person">
                        <div class="d-flex">
                            <MudText>Nurses x @NurseAmount</MudText>
                            <MudText Class="ml-auto">R @Total</MudText>
                        </div>
                    </MudListItem>
                </MudList>
                <div class="mt-auto">
                    <MudDivider />
                    <div class="d-flex pa-4">
                        <MudText>Total:</MudText>
                        <MudText Class="ml-auto"><b>R @OverallTotal per month</b></MudText>
                    </div>
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
    }

@code {
    private bool isCheckoutView = true;
    private bool isNurseDetailsProvided = false;
    private bool nextBtnIsPressed = false;
    private int PricePerNurse;
    private int NurseAmount;
    private int Total;
    private int OverallTotal;
    private string StorageType;
    private int StorageTotal;
    private IList<string> NursesList;

    public async Task AddToList(string nurse)
    {
        NursesList.Add(nurse);
    }

    public void ChangeView(int view)
    {
        switch(view)
        {
            case 1:
            PricePerNurse = 850;
                break;
            case 2:
            PricePerNurse = 1000;
                break;
            case 3:
            PricePerNurse = 1250;
                break;
            default:
            PricePerNurse = 850;
                break;
        }
        isCheckoutView = false;
    }
    public void ChangeView2()
    {
        isNurseDetailsProvided = true;
        nextBtnIsPressed = true;
        Calculate();
    }

    public void Calculate()
    {
        var amount = NurseAmount * PricePerNurse;
        Total = amount;
        switch(StorageType) 
        {
        case "100GB Storage - 6 Months":
            StorageTotal = 200;
            break;
        case "200GB Storage - 1 Year":
            StorageTotal = 350;
            break;
        case "200GB Storage - 3 Years":
            StorageTotal = 1000;
            break;
        case "500GB Storage - 1 Year":
            StorageTotal = 1250;
            break;
        case "500GB Storage - 3 Years":
            StorageTotal = 1500;
            break;
        case "2TB Storage - 1 Year":
            StorageTotal = 2150;
            break;
        case "2TB Storage - 3 Years":
            StorageTotal = 2500;
            break;
        case "5TB Storage - 5 Years":
            StorageTotal = 3500;
            break;
          default:
            StorageTotal = 200;
            break;
        }
        OverallTotal = (Total + 300) + StorageTotal;
    }
}