@page "/all-occupied-beds/{RoomId:int}/{RoomNumber}"
@using ClinicManager.Data.Modals.Beds
@using ClinicManager.Data.Modals.Misc
@using ClinicManager.Web.Infrastructure.Services.Bed
@using Modals
@using ClinicManager.Shared.DTO_s
@inject IBedService bedService 
@attribute [Authorize]

    <MudGrid Class="mt-8">
        <MudItem xs="12" md="12" sm="12">
            <MudText Align="Align.Center" Typo="Typo.h5">
                Room @RoomNumber - Beds
            </MudText>
        </MudItem>
        <MudItem xs="12" md="4" sm="4">
            <MudButton Color="Color.Info" OnClick="(() => InvokeModal())" Class="mt-3 mb-3" Style="border-radius: 15px 15px;"
                       Variant="Variant.Outlined">New Bed</MudButton>
        </MudItem>
            <MudItem xs="12" md="4" sm="4">
                        <MudButton Color="Color.Transparent" OnClick="@(() => _navigationManager.NavigateTo($"/all-room-beds/{RoomId}/{RoomNumber}"))" Class="mt-3 mb-3" Style="border-radius: 15px 15px;"
                       Variant="Variant.Outlined">All</MudButton>
                        <MudButton Color="Color.Success" OnClick="@(() => _navigationManager.NavigateTo($"/all-unoccupied-beds/{RoomId}/{RoomNumber}"))" Class="mt-3 mb-3" Style="border-radius: 15px 15px;"
                       Variant="Variant.Outlined">Unoccupied</MudButton>
                        <MudButton Color="Color.Error" OnClick="@(() => _navigationManager.NavigateTo($"/all-occupied-beds/{RoomId}/{RoomNumber}"))" Class="mt-3 mb-3" Style="border-radius: 15px 15px;"
                       Variant="Variant.Outlined">Occupied</MudButton>
            </MudItem>
            <MudItem xs="12" md="4" sm="4">
                <MudIconButton Color="Color.Warning" OnClick="SetViewTable"
                               Icon="@Icons.Material.Filled.TableBar"></MudIconButton>
                <MudIconButton Color="Color.Secondary" OnClick="SetViewGrid"
                               Icon="@Icons.Material.Filled.GridView"></MudIconButton>
            </MudItem>
        @if (!isTableView)
        {
            @foreach (var bed in _occupiedBeds)
            {
            <MudItem md="3" sm="6">
                <MudCard Elevation="5" Style="height:150px">
                    <MudCardHeader>
                        <CardHeaderContent>
                        <MudButton Color="Color.Info" @onclick="@(() => _navigationManager.NavigateTo($"/all-room-beds/{@bed.RoomId}"))" Variant="Variant.Outlined">Beds</MudButton>
                        <MudButton Color="Color.Warning" @onclick="@(() => InvokeModal(bed.BedId))" Variant="Variant.Outlined">Edit</MudButton>
                        <MudButton Color="Color.Error" @onclick="@(() => Delete(bed.BedId, bed.RoomId.Value))" Variant="Variant.Outlined">Delete</MudButton>
                        </CardHeaderContent>
                        <CardHeaderActions>
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Align="Align.Center" Typo="Typo.h6">Bed @bed.BedNumber</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            }
        }
    </MudGrid>
    @if (isTableView)
    {
        <MudTable Hover="true" Breakpoint="Breakpoint.Sm" Items="@_occupiedBeds"  Elevation="25" ServerData="@(new Func<TableState, Task<TableData<BedDTO>>>(ServerReloadOccupied))" Dense="true" Bordered="false" Striped="true" Filter="new Func<BedDTO, bool>(SearchOccupied)" @ref="_tableOccupied">
                <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                <MudButton DisableElevation Variant="Variant.Filled" Size="Size.Small" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">Reload</MudButton>
            </div>
            <MudSpacer />
                <MudTextField Label="Search Beds" @bind-Value="SearchField" Variant="Variant.Outlined" Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Info"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel T="BedDTO" SortLabel="BedNumber">Bed Number</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="BedDTO" SortLabel="IsOccupied">Active Status</MudTableSortLabel></MudTh>
            </HeaderContent>
             <RowTemplate>
            <MudTd DataLabel="Bed Number">
                <MudHighlighter Text="@context.BedNumber.ToString()" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Active Status">
            @if(context.IsOccupied == true)
                {
                <MudHighlighter Text="Occupied" HighlightedText="@_searchString" />
                }
            else
                {
                <MudHighlighter Text="Not Occupied" HighlightedText="@_searchString" />
                }
            </MudTd>
            <MudTd  Style="width:200px;  padding-left: 0px;padding-right: 0px;" DataLabel="">
             <MudButton Class="pa-1 mx-1" Color="Color.Transparent" Variant="Variant.Outlined" Style="border-radius: 15px 15px; height:35px; width:150px" @onclick="@(() => InvokeModal(@context.BedId))">Edit</MudButton>
           </MudTd>
           <MudTd  Style="width:200px;  padding-left: 0px;padding-right: 0px;" DataLabel="">
             <MudButton Class="pa-1 mx-1" Color="Color.Error" Variant="Variant.Outlined" Style="border-radius: 15px 15px; height:35px; width:150px" @onclick="@(() => Delete(@context.BedId, RoomId))">Delete</MudButton>
           </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager RowsPerPageString="Rows" />
        </PagerContent>
        </MudTable>
    }

@code{
    [Parameter] public int RoomId { get; set; } 
    [Parameter] public string RoomNumber { get; set; } 

    DateTime? date = DateTime.Today;
    public string SearchField;
    private List<BedDTO> _occupiedBeds = new();
    public bool isTableView = true;
    private BedDTO bed = new();
    private MudTable<BedDTO> _tableOccupied;
    private int _totalItems;
    private int _currentPage;
    private TableState _state;
    private string _searchString = "";
    protected async override Task OnInitializedAsync()
    {
        await GetAllOccupiedBedsByRoomId(RoomId);
    }

        public void SetViewGrid()
        {
            isTableView = false;
        }
        public void SetViewTable()
        {
            isTableView = true;
        }

        private async Task InvokeModal(int id = 0)
        {
            var parameters = new DialogParameters();
            if (id != 0)
            {
                bed = _occupiedBeds.FirstOrDefault(c => c.BedId == id);
                if (bed != null)
                {
                    parameters.Add(nameof(AddEditBed.AddEditBedModel), new BedDTO
                    {
                    BedId = bed.BedId,
                    BedNumber = bed.BedNumber,
                    RoomId = bed.RoomId,
                    RoomNumber = bed.RoomNumber
                    });
                }
         
            }
            else
                {
                    parameters.Add(nameof(AddEditBed.AddEditBedModel), new BedDTO
                    {
                    RoomId = RoomId
                    });
                }
            var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
            var dialog = _dialogService.Show<AddEditBed>(id == 0 ? "Create Bed" : "Edit Bed", parameters, options);
            var result = await dialog.Result;
            if (!result.Cancelled)
            {
                await _tableOccupied.ReloadServerData();
            }
        }
        private async Task Delete(int id, int roomId)
        {
            string deleteContent = $"Delete Bed {_occupiedBeds.FirstOrDefault(c => c.BedId == id).BedNumber}";
            var parameters = new DialogParameters
            {
                {nameof(DeleteConfirmation.ContentText), string.Format(deleteContent, id)}
            };
            var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
            var dialog = _dialogService.Show<DeleteConfirmation>("Delete", parameters, options);
            var result = await dialog.Result;
            if (!result.Cancelled)
            {
                var response = await bedService.DeleteAsync(id,roomId);
                if (response.Succeeded)
                {
                    await _tableOccupied.ReloadServerData();
                    _snackBar.Add("Bed Deleted", Severity.Success);
                }
                else
                {
                    foreach (var message in response.Messages)
                    {
                        _snackBar.Add(message, Severity.Error);
                    }
                }
            }
        }
     
        private void OnSearch(string text)
        {
            _searchString = text;
            _tableOccupied.ReloadServerData();
        }

        public async Task GetAllOccupiedBedsByRoomId(int roomId)
        {
            var occupiedBeds = await bedService.GetAllOccupiedBedsByRoomId(roomId);
            if (occupiedBeds.Succeeded)
            {
                _occupiedBeds = occupiedBeds.Data;
            }
        }

        private bool SearchOccupied(BedDTO bed) => FilterFuncOccupied(bed, _searchString);

        private bool FilterFuncOccupied(BedDTO bed, string searchString)
        {
            if (string.IsNullOrWhiteSpace(searchString))
                return true;
            if (bed.BedNumber.ToString().Contains(_searchString, StringComparison.OrdinalIgnoreCase) == true)
            {
                return true;
            }
            if (bed.RoomNumber?.ToString().Contains(_searchString, StringComparison.OrdinalIgnoreCase) == true)
            {
                return true;
            }
            return false;
        }

        private async Task<TableData<BedDTO>> ServerReloadOccupied(TableState state)
        {
            if (!string.IsNullOrWhiteSpace(_searchString))
            {
                state.Page = 0;
            }
            _state = state;
            await GetOccupiedBedsAsync(state);
            return new TableData<BedDTO> { TotalItems = _totalItems, Items = _occupiedBeds };
        }

         private async Task GetOccupiedBedsAsync(TableState state)
        {
            string[] orderings = null;
            if (!string.IsNullOrEmpty(state.SortLabel))
            {
                orderings = state.SortDirection != SortDirection.None ? new[] { $"{state.SortLabel} {state.SortDirection}" } : new[] { $"{state.SortLabel}" };
            }

            var response = await bedService.GetAllOccupiedBedsTable(state.Page + 1, state.PageSize, _searchString, RoomId, orderings);
            if (response.Succeeded)
            {
                _totalItems = response.TotalCount;
                _currentPage = response.CurrentPage;
                _occupiedBeds = response.Data;
            }
            else
            {
                foreach (var message in response.Messages)
                {
                    _snackBar.Add(message, Severity.Error);
                }
            }
        }         
}
